<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Pet Search Home</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').checked = false">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-grid-nav-menu" aria-hidden="true"></span> Головна
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-listing">
                <span class="bi bi-plus-circle-nav-menu" aria-hidden="true"></span> Створити оголошення
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="favorites">
                <span class="bi bi-heart-nav-menu" aria-hidden="true"></span> Улюблені
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-login-nav-menu" aria-hidden="true"></span> Вхід
            </NavLink>
        </div>
    </nav>
</div>

